.btn {
    /* border: 2px solid black; */
    /* background-color: white; */
    color: black;
    padding: 8px 32px;
    font-size: 14px;
    cursor: pointer;
}


.banner {
    background-image: url('../img/frontend/index/banner.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 460px;
}
.blur-div {
    height: 125px;
    width: 615px;
    background: url('../img/frontend/index/banner.png') no-repeat center center;
    filter: blur(4px);
}
.sliding-head {
    top: 25px;
    left: 18px;
}
.banner-text {
    margin-top: 12rem;
}
.banner-carousel {
    margin-top: 4rem;
    background-color: #245808;
    opacity: 90%;
}
.banner-carousel .carousel-caption {
    position: absolute;
    top: 100%;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.carousel-banner-indicators {
    bottom: -2.7rem;
}



/* product range css */
.banner-products {
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/frontend/index/banner-1.png'); */
    background-image: url('../img/frontend/index/banner-2.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.banner-products h5 {
    margin-top: 8rem;
}

[class*="product-range"]:hover h5 {
    background-color: #68AE42;
    margin-top: 8rem;
    padding: 0.5rem;
    color: white;
}
.product-text a {
    position: absolute;
    z-index: 1;
    top: 7.4rem;
    left: 8.4rem;
}

@keyframes fadein{
    0% { filter: brightness(20%);}
    100% { filter: brightness(100%);}
}



/* products carousel css */
.products-carousel-1 {
    background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 100)),url(../img/frontend/index/banner-product-1.svg);
    background-size: cover;
    height: 500px;
}
.products-carousel-2 {
    background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 100)),url(../img/frontend/index/banner-product-2.svg);
    background-size: cover;
    height: 500px;
}
.products-carousel-3 {
    background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 100)),url(../img/frontend/index/banner-product-3.svg);
    background-size: cover;
    height: 500px;
}
.products-carousel-4 {
    background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 100)),url(../img/frontend/index/banner-product-4.svg);
    background-size: cover;
    height: 500px;
}
.products-carousel-1:hover {
    background: url(../img/frontend/index/banner-product-1.svg);
    background-size: cover;
    height: 500px;
    animation-name: fadein;
    animation-duration: 0.5s;
}
.products-carousel-2:hover {
    background: url(../img/frontend/index/banner-product-2.svg);
    background-size: cover;
    height: 500px;
    animation-name: fadein;
    animation-duration: 0.5s;
}
.products-carousel-3:hover {
    background: url(../img/frontend/index/banner-product-3.svg);
    background-size: cover;
    height: 500px;
    animation-name: fadein;
    animation-duration: 0.5s;
}
.products-carousel-4:hover {
    background: url(../img/frontend/index/banner-product-4.svg);
    background-size: cover;
    height: 500px;
    animation-name: fadein;
    animation-duration: 0.5s;
}
[class*="products-carousel"]:hover h5 {
    background-color: #68AE42;
    margin-top: 7rem;
    padding: 0.5rem;
}
.carousel-control-next, .carousel-control-prev {
    width: 3%;
}
.carousel-control-prev-icon {
    height: 40px;
    width: 40px;
}
.carousel-control-next-icon {
    height: 40px;
    width: 40px;
}

.mySwiper img {
    height: 17rem;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
    margin-bottom: 1rem;
    transition: filter 1s;
}
.slider-hover {
    filter: brightness(100%)!important;
}
.mySwiper h5 {
    color: black;
    font-weight: 600;
    text-align: center;
}

.swiper-button-next, .swiper-button-prev {
    top: 43%!important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: white!important;
    font-size: 1.7rem!important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    color: white!important;
    font-size: 1.7rem!important;
}




/* media-queries */
/* @media screen and (max-width : 1200px) {
    .banner .container-md {
        text-align: center;
    }
    .banner-text {
        float: none!important;
        text-align: center;
        top: 50px;
        position: relative;
        margin-top: 0;
    }
    .banner-text h2 {
        font-size: 30px!important;
        -webkit-text-stroke: 1.5px black;
    }
    .banner .float-end {
        float: none!important;
        top: 20px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .product-range-1 a {
        top: 4.1rem;
    }
    #ntc-engineering .row {
        justify-content: space-between!important;
    }
    .ntc-eng-btn {
        padding: 10px 100px!important;
    }
}

@media screen and (max-width : 992px) {
    .we-care-btn {
        padding: 10px 90px!important;
    }
    .call-us {
        margin-top: 2rem;
    }
    .product-range-2 a {
        top: 4.1rem;
    }
    .product-range-3 a {
        top: 4.1rem;
    }
    .product-range-5 a {
        top: 4.1rem;
    }
    #ntc-engineering .row {
        justify-content: center!important;
    }
    .ntc-eng-btn {
        padding: 10px 60px!important;
    }
} */



@media screen and (max-width: 576px) {
    .banner {
        height: 300px!important;
    }
    .banner h2 {
        font-size: 20px!important;
    }
    .blur-div {
        height: 100px;
        width: 300px;
    }
    .sliding-head {
        top: 12px;
        left: 0px;
    }
    .banner .container-md {
        text-align: center;
    }
    .banner-text {
        float: none!important;
        text-align: center;
        top: 50px;
        position: relative;
        margin-top: 0;
    }
    .banner .float-end {
        float: none!important;
        top: 20px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .banner-carousel {
        margin-top: 6rem;
    }
    .banner-carousel .carousel-inner {
        width: 100%!important;
        height: 245px!important;
    }
    .we-refine {
        margin-top: 22rem!important;
    }
    .we-care-btn {
        padding: 10px 90px!important;
    }
    /* .call-us {
        margin-top: 2rem;
    } */
    .banner-products {
        background: none!important;
        margin-top: 4rem!important;
        height: 100%!important;
    }
    .banner-products h2 {
        color: black!important;
    }
    .products {
        padding-top: 0rem!important;
        padding-bottom: 0rem!important;
    }
    .product-text a {
        top: 7.55rem;
    }
    .we-care-btn {
        padding: 10px 90px!important;
    }
    .we-care-btn {
        padding: 10px 90px!important;
    }
    .ntc-engineering {
        margin-top: 3rem!important;
    }
    .ntc-eng-btn {
        padding: 10px 90px!important;
    }
    .new-ntc {
        margin-top: 3rem!important;
    }
    .products-slider {
        margin-top: 3rem!important;
        margin-bottom: 1rem!important;
    }
    .slider-img {
        height: 200px!important;
        width: 100%!important;
    }
    .call-us {
        right: 0rem!important;
    }

   
  }